@font-face {
    font-family: 'sans';
    src: url('../fonts/SourceHanSansSC-VF.otf');
    font-weight: normal;
    font-style: normal;
}

html, body, ul, li, h1, h2, h3, h4, h5, h6, p, form, dl, dt, dd {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: normal; 
}

ul { 
    list-style: none; 
}

html, body {
    overflow: hidden;
    font-size:14px;
    color:#606266;
    /* font-family: "sans"; */
}

* {
    box-sizing: border-box;
}